# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Spring Boot
*.log
*.pid

# OS
.DS_Store
Thumbs.db

# Env & Config
.env
*.env.local
**/application.properties

# Build
build/
out/
